@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");

/* HOME */

/*Styles of color */

.text-grey-1 {
  color: #606060;
}

.text-grey-2 {
  color: #787878;
}

.text-grey-3 {
  color: #a7a7a7;
  }

.text-grey-4 {
  color: #999999;
}

.text-grey-5 {
  color: #9c9c9c;
}

.text-brown-1 {
  color: #887569;
}

.text-brown-2 {
  color: #4f4f4f;
}

.text-black-1 {
  color: #1b1b1b;
}

.text-black-2 {
  color: #373737;
}

.section-title {
  font-size: 2.2em;
  font-weight: 300;
  color: #373737;
}

/* Common values */

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 70%;
  color: #928d8d;
}

p {
  font-weight: 300;
  line-height: 1.25em;
}

.bg-decoration {
  background: #f8f8f8;
}

.p-left-0 {
  padding-left: 0;
}

.p-right-0 {
  padding-right: 0;
}

.p-left-40 {
  padding-left: 40px;
}

.p-50 {
  padding-top: 44px;
  padding-bottom: 54px;
}

.p-top-20 {
  padding-top: 20px;
}

.p-bottom-30 {
  padding-bottom: 30px;
}

/* Кнопки */

.btn-local {
  padding: 20px 75px 20px 40px;
  border: 1px solid #887569;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 1em;
}
/* Header */

.header {
  width: 86.6%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.phone,
.active {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.header-border-bottom {
  padding-bottom: 28px;
  border-bottom: 1px solid #cdcdcd;  
}

.header-tel-icon {
  width: 16px;
  height: 16px;
  background-image: url('../img/header/header-tel.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-menu-icon {
  width: 25px;
  height: 16px;
  background-image: url('../img/header/icon-menu-1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-btn-search {
  width: 31px;
  height: 31px;
  background-image: url('../img/header/header-search.svg');
}

.header-btn-favorites {
  width: 31px;
  height: 31px;
  background-image: url('../img/header/header-favorites.svg');
}

.header-btn-cart {
  width: 32px;
  height: 32px;
  background-image: url('../img/header/header-cart.svg');
}

.btn-menu-local {
  padding: 0;
}

.dropdown-toggle-down::after{
  display: none;
}

.dropdown-toggle-lang::after {
  background-image: url('../img/header/dropdown-icon.svg');
  width: 11px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.nav-link:hover {
  color: #787878;
}

.dropdown-section-menu {
  padding: 20px 43px;
  min-height: 462px;
  min-width: 974px;
  background: #FFFFFF;
  border: none;
  box-shadow: 0px 0px 30px rgba(71, 71, 71, 0.1);
  border-radius: 5px;
}

.dropdown-section-item {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 1.125em;
}

.dropdown-section-inner {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 0;
  list-style: none;
}

.dropdown-section-link {
  font-size: 1.125em;
  font-weight: 400;
  color: #1B1B1B;
  text-decoration: none;
}

.dropdown-section-inner li:not(:last-child) .dropdown-section-link {
  display: block;
  margin-bottom: 16px;
}

.dropdown-subsection-inner {
  margin-bottom: 16px;
  padding-left: 10px;
  list-style: none;
}

.dropdown-subsection-link {
  font-size: 1.125em;
  font-weight: 300;
  color: #1B1B1B;
  text-decoration: none;
}

/* MAIN */

/* Hero */

.hero-list-group {
  background: transparent;
}

.hero-list-item {
  background: transparent;
  border: none;
  font-size: 1.125em;
  font-weight: 300;
}

.hero-list-number {
  width: 63px;
  height: 63px;
  background-image: url("../img/main/hero/back-item.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  text-align: center;
  vertical-align: middle;
  font-size: 1.875em;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-section-menu {
  padding: 20px 43px;
  min-height: 462px;
  min-width: 974px;
  background: #ffffff;
  border: none;
  box-shadow: 0px 0px 30px rgba(71, 71, 71, 0.1);
  border-radius: 5px;
}

.dropdown-section-item {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 1.125em;
}

.dropdown-section-inner {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 0;
  list-style: none;
}

.dropdown-section-link {
  font-size: 1.125em;
  font-weight: 400;
  color: #1b1b1b;
  text-decoration: none;
}

.dropdown-section-inner li:not(:last-child) .dropdown-section-link {
  display: block;
  margin-bottom: 16px;
}

.dropdown-subsection-inner {
  margin-bottom: 16px;
}

.dropdown-subsection-inner {
  padding-left: 10px;
  list-style: none;
}

.dropdown-subsection-link {
  font-size: 1.125em;
  font-weight: 300;
  color: #1b1b1b;
  text-decoration: none;
}

.header-form {
  position: relative;
}

.header-form-input {
  padding-left: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #887569;
  border-radius: 0;
  font-size: 0.875em;
}

.header-btn-search-small {
  position: absolute;
  width: 17px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 20%;
}

/* Activity */

.btn-activity {
  position: relative;
}

.btn-activity::after {
  position: absolute;
  content: url("../img/main/activity/arrow-icon.svg");
  width: 14px;
  height: 14px;
  left: 170px;
}

/*Selection */

.selection-card {
  background: #ffffff;
  border: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.selection-card-title {
  font-size: 1.4em;
  font-weight: 500;
}

.selection-card-text {
  font-size: 1.125em;
}

/* Consultation */

.consultation-form {
  width: 83.6%;
}

.consultation-section-title {
  margin-bottom: 15px;
}

.section-consultation-form {
  padding: 0 25px;
}

.consultation-input {
  padding: 22px 22px;
  border: none;
  border-radius: 8px;
}

.consultation-btn {
  padding-top: 21px;
  padding-bottom: 21px;
  background: #887569;
  border-radius: 8px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.consultation-text {
  margin-bottom: 37px;
  font-size: 1.1em;
}

/* Card */

.card-local {
  position: relative;
  padding: 30px 18px;
  background: #f8f8f8;
  border: none;
  border-radius: 5px;
}

.card-local-body {
  padding: 0;
}

.card-local-img {
  padding-left: 12px;
  padding-right: 12px;
}

.card-text-local {
  margin-bottom: 10px;
  font-size: 0.875em;
  font-weight: 300;
  color: #606060;
}

.card-title-local {
  margin-bottom: 10px;
  font-size: 1.125em;
  font-weight: 500;
  color: #181818;
}

.card-price {
  padding: 0;
  margin-bottom: 0;
  font-size: 1.25em;
  font-weight: 500;
  color: #343434;
}

.card-price-cart {
  width: 26px;
  height: 26px;
  background-image: url("../img/main/header/header-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img {
  position: relative;
}

.btn-favorites {
  position: absolute;
  padding: 0;
  width: 40px;
  height: 40px;
  top: -15px;
  right: 0;
  background: #f3e4de;
  border-radius: 50%;
}

.btn-favorites-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/header/header-favorites.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .btn-discount {
  position: absolute;
  padding: 0;
  width: 49px;
  height: 49px;
  top: -10px;
  left: 0;
  background: #887569;
  border-radius: 50%;
}

.card-popular::before {
  position: absolute;
  content: '5%';
  padding: 0;
  width: 49px;
  height: 49px;
  top: -10px;
  left: 0;
  background: #887569;
  border-radius: 50%;
  z-index: 100;
}*/
/* MAIN */

/* ABOUT */

.about {
  width: 85%;
  margin: 0 auto;
}

h4 {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: .2px;
  margin-bottom: 24px;
}

.container-text {
  display: flex;
}

.container-left {
display: flex;
flex-direction: column;
width: 67%;
padding-right: 37px;
}

.container-left_letter {
display: flex;
width: 60%;
flex-direction: row;
}

.letter-img {
height: 102px;
margin-top: 63px;
float: left;
}

.letter-text {
margin-top: 67px;
margin-left: 150px;
margin-right: 20px;
}

.container-right {
  display: flex;
  width: 40%;
  height: 446px;
  background-size: 100%;
  background: no-repeat url(../img/about/pic1.png);
  margin-left: 3px;
}

.paragraph h4 {
  text-align: center;
  margin: 11px 0 34px;
}

.about-photos {
  width: 100%;
}
/* ABOUT */

/* BLOG */

.blog {
  width: 85.3%;
  display: flex;
  margin: 0 auto;
}

.nav {
  display: flex;
  width: 28%;
  margin: 0 8px 0 0;
  padding-top: 2px;
}

.nav div a {
  margin-right: 17px;
}

.nav img {
  height: 8px;
  margin: 8px 21px 0 0;
}

.page-title {
  font-weight: 300;
  font-size: 36px;
}

.blog-item {
  height: 260px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} 

.blog-item01 {
  background-image: url(../img/blog/blog1.jpg);
}

.blog-item02 {
  background-image: url(../img/blog/blog2.jpg);
}

.blog-item03 {
  background-image: url(../img/blog/blog3.jpg);
}

.blog-item04 {
  background-image: url(../img/blog/blog4.jpg);
}

.blog-item05 {
  background-image: url(../img/blog/blog5.jpg);
}

.blog-item06 {
  background-image: url(../img/blog/blog6.jpg);
  height: 651px;
}

.blog-item07 {
  background-image: url(../img/blog/blog7.jpg);
  height: 651px;
}

.blog-item08 {
  background-image: url(../img/blog/blog8.jpg);
}

.blog-item09 {
  background-image: url(../img/blog/blog9.jpg);
}

.blog-item10 {
  background-image: url(../img/blog/blog10.jpg);
}

.blog-title {
  font-size: 16px;
  color: #000;
}

.blog-date {
  font-size: 14px;
  color: #8d8d8d;
}

.card {
  border: none;
}

.btn-outline {
  width: 334px;
  height: 61px;
  border: 1px solid #887569;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
/* BLOG */


/*Footer*/

.footer {
  background-color: #f5f5f5;
}

.footer-container {
  padding-top: 9px;
  display: flex;
  width: 87.4%;
  margin: 0 0 0 81px;
}

.navbar-container {
  margin: 0;
  display: flex;
  width: 61%;
  padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
